.grid-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(390px, 2fr)); 
    grid-auto-rows: max-content;
    grid-column-gap: 12px;
    grid-row-gap: 12px; 
    background: #fff;
    max-width: 80%;
    min-height: 450px;
    border-radius: 4px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    margin: 70px auto;
    padding: 10px;
}

.content {
    width: 35%;
    border-radius: 3px;
    background-color: transparent;
}
.add-content {
    width: 100%;
}

.sub-add-content {
    border-radius: 3px;
    width: 70%;
}

#add {
    width: 70%;
    margin: 2.5em auto;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    border: 1px solid #1e1f26;
    margin-bottom: 20px;
}

#table {
    width: 70%;
    overflow: auto;
    margin: 2.5em auto
}

form {
    margin: 0 auto;
}

.mat-form-field {
    display: block;
    width: 80%;
    height: 30px;
    margin: 10px auto;
    margin-bottom: 30px;
    outline: 0;
    border: 0;
}

select {
    border: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

header {
    margin: 30px auto 10px auto;
    text-align: center;
    font-size: 17px;
}

.submitbut {
    display: block;
    height: 40px;
    border-radius: 0px;
    background-color: #1e1f26;
    color: white;
    border-color: #1e1f26;
    margin-bottom: 10px;
    transition: 300ms;
    margin: 20px auto;
}

.submitbut:hover {
    transition: 300ms;
    background-color: #444857;
    border-radius: 3px;
    cursor: pointer;
}

table {
    width: 97%;
    margin: 15px auto;
}

td.mat-cell:hover:nth-last-child(-n+1) {
    background-color: lightgray;
    cursor: pointer;
    color: white;
}

td {
    text-align: center !important;
}

th {
    text-align: center !important;
}

.mat-cell:first-child, .mat-header-cell:first-child {
    padding-left: 5px !important;
  }
.mat-cell:last-child, .mat-header-cell:last-child {
    padding-right: 5px !important;
    text-align: center;
  }